h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.login-page {
    background: url(../images/login.jpg) no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    padding: 5% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.login-box {
    width: 360px;
    margin: 10% auto;
	background: #fff;
	border-radius:5px;
}
.login-box-body{
   
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
	border-bottom: 3px solid #0099dc;
}
.login-logo img {
    width: 70px;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover
{
    color: #fff;
    background-color: #0099dc;
    border-color: #026b99;
}
.bd-masthead {
    position: relative;
    /* //padding: 3rem 15px; */
    margin:1% auto;
}
.container {
    margin:auto;
}