<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Awesome Teletubbies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a class="btn ml-md-3 btn-primary" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
          <span class="danger oi oi-account-login"></span></a>
      
    </div>

  </nav>
</header>



<main *ngIf="auth.isAuthenticated()" class="bd-masthead" id="content" role="main">
  <div class="container row">

    <div class="col-sm-3" style="width: 18rem; " *ngFor="let teletubby of teletubbies">
      <div class="card" style="border:3px solid" [style.borderColor]="teletubby.color">
        <div style="padding:10px;" [style.backgroundColor]="teletubby.color">
          <img class="card-img-top" src="assets/images/{{teletubby.imageurl}}" alt="{{teletubby.name}}">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{teletubby.name}}</h5>
          <p class="card-text">{{teletubby.description}}</p>
          <a href="#" class="btn btn-primary">{{teletubby.name}}</a>
        </div>
      </div>
    </div>
   
  </div>
</main>