<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <img src="../../assets/images/logo.png" alt="Logo">
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body">
      <h5 *ngIf="!auth.isAuthenticated()" class="login-box-msg">Log in to see awesome teletubbies</h5>
      <h5 *ngIf="auth.isAuthenticated()" class="login-box-msg">Do not leave please!</h5>


      <!-- <form role="form" method="POST" action="#">
        <input type="hidden" name="_token" value="zFYeKJsEVaJRcmldz4ODU8vwO0LPuJyQoVmC0V0g">

        <div class="form-group has-feedback">
          <input name="email" type="email" class="form-control" placeholder="E-posta" required="" autofocus="">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input name="password" type="password" class="form-control" placeholder="Şifre" required="">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">


          <div class="col-sm-4">
            <button type="submit" class="btn btn-success btn-block btn-flat">Giriş</button>
          </div>
        
        </div>
      </form> -->

      <div class="row">
      
      
        <div class="col-sm-12">
          <button type="submit" class="btn btn-info btn-block btn-flat">
            <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a>
            <a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Log Out</a>
          </button>
        </div>
      
      </div>
      

    </div>
  </div>
</div>